
.searchContainer{
    width: 100% !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form{
    display: block;
}

.formInput{
    display: contents !important;  
}

.formInput input.rbt-input-main{
    margin-top: 200px !important;;
    width: 100% !important;
}